<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554357965302-a0ihgjk0e048gpshp8qprii9q3ig41eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554357965302-a0ihgjk0e048gpshp8qprii9q3ig41eh</string>
	<key>API_KEY</key>
	<string>AIzaSyAoV2GAVEAW4xpTq4vVeazBgMDkxbO_r58</string>
	<key>GCM_SENDER_ID</key>
	<string>554357965302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.BitirmeOdevi</string>
	<key>PROJECT_ID</key>
	<string>bitirmeodev-22f04</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirmeodev-22f04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554357965302:ios:6a9012a2e9cb03d76ec7d7</string>
</dict>
</plist>